body{
    font-family: 'Montserrat', sans-serif,'Londrina Solid', cursive;
    background: rgb(107,107,241);
    font: normal 15pt Arial;
    align-items: center;
    }
    header{
    color:white;
    text-align:center;
    font-family: 'Shadows Into Light', 'cursive', 'Roboto', 'sans-serif';
    font-size: 28px;
    }
    section{
    align-items: left;
    font-family: 'Josefin Sans', 'Shadows Into Light', 'cursive', 'Roboto', 'sans-serif'; 
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);  
    }    
    img{
       border-radius: 50%; 
     }
     section div input#txtano{
         width:69px;
     }
    footer{
    color: white;
    text-align:center;
    font-style: italic;
    font-family: 'Shadows Into Light', 'cursive', 'Roboto', 'sans-serif';    
    }